.form-control.ng-touched.ng-invalid {
  border-color: red;
}

.personalDetailsLabel {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.setInputField {
  width: 32%;
  margin-right: 15px;
}

.setTextArea {
  width: 48%;
  margin-right: 15px;
}
