<button routerLink="/employee/add">Add Employee</button>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.department }} </mat-cell>
    </ng-container>

    <!-- Designation Column -->
    <ng-container matColumnDef="designation">
      <mat-header-cell *matHeaderCellDef> Designation </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.designation }} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
    </ng-container>

    <!-- Mobile Column -->
    <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef> Mobile number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.mobile }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>

<!-- Copyright 2017 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
